body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px auto;
  height: 100%;
  background-color: var(--contact-bg);
}

/* CSS Custom Property */
:root {
  --contact-bg: #ffac1c;
  --nav-bg: yellow;
  --form-bg: #f4bb44;
}

/* navbar  */
#navbar {
  overflow: hidden;
  background-color: var(--nav-bg);
}

#navbar .page {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 13px;
}

.happy-elephant,
.home-page,
.contact-page,
.about-page {
  float: left;
}

.happy-elephant {
  margin-right: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}

.happy-elephant::first-letter {
  /* font-size: 30px; */
  font-weight: bold;
  font-weight: 900;
}

.page:hover {
  background-color: orange;
  color: black;
  height: 100%;
}

/* footer content */
#my-footer {
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--nav-bg);
  width: 100vw;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
}

.footer-content a {
  justify-content: space-around;
  /* top left bottom right */
  margin: 5px 7px 5px 7px;
}

.fab {
  color: white;
}

.fab:hover {
  color: orange;
}

#copy-right h5 {
  color: white;
  text-align: center;
  margin-top: 3px;
  padding-bottom: 8px;
}

/* Menu Item Order Form */
.order-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  /* top left bottom right */
  margin: 30px 0 10px 0;
}

.food-box {
  flex: 1 0 30%;
  border: 1px solid #333;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* top left bottom right */
  padding: 10px 15px 15px 10px;
  transition: background-color 0.3s;
}

.food-box:hover {
  background-color: darkorange;
}

.food-img {
  /* width: 25%; */
  /* height: 25%; */
  display: block;
}

.order-button,
.cart-button {
  background-color: var(--nav-bg);
  color: white;
  border-radius: 8px;
  width: 70px;
}

.cart-button {
  flex: 1 0 100%;
}

/* Contact Form Styling */
#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: top left bottom right */
  margin: 20px 300px 20px 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--form-bg);
  padding: 35px;
}

#contact-container #contact-form-title {
  text-align: center;
  margin-top: -15px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px, solid, black;
  border-radius: 8px;
  margin: 4px 0 4px 0;
}

input[type="submit"] {
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 15px, 15px;
  border-radius: 8px;
  background-color: var(--nav-bg);
  color: white;
  height: 40px;
  width: 100px;
}

input[type="submit"]:hover {
  background-color: yellowgreen;
}
